<div class="row">
	<div class="col-6 col-md-6">
		<h1>{{charPage.char.aliases[0]}}</h1>
	</div>
	<div class="col-6 col-md-6">
		<a ng-href="#/" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-arrow-left"></span> Back
</a>
	</div>
</div>


<div class="row">
	<div class="col-6 col-md-2">
		<p>Name:</p>
	</div>
	<div class="col-6 col-md-4">
		<p>{{charPage.char.name}}</p>
	</div>
</div>
<div class="row">
	<div class="col-6 col-md-2">
		<p>Gender:</p>
	</div>
	<div class="col-6 col-md-4">
		<p>{{charPage.char.gender}}</p>
	</div>
</div>
<div class="row">
	<div class="col-6 col-md-2">
		<p>Culture:</p>
	</div>
	<div class="col-6 col-md-4">
		<p>{{charPage.char.culture}}</p>
	</div>
</div>
<div class="row">
	<div class="col-6 col-md-2">
		<p>Born:</p>
	</div>
	<div class="col-6 col-md-4">
		<p>{{charPage.char.born}}</p>
	</div>
</div>
<div class="row">
	<div class="col-6 col-md-2">
		<p>Died:</p>
	</div>
	<div class="col-6 col-md-4">
		<p>{{charPage.char.died}}</p>
	</div>
</div>